body{
    
    direction: rtl;

}
#about{
    font-size: 20px ;
    font-weight: 700;
    margin-top: 20%;
    margin-bottom: 10%;
    color: rgb(221, 224, 12);
}
#hope{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20%;
    margin-bottom: 10%;
    color: rgb(221, 224, 12);

}
#us{
    font-size: 20px ;
    font-weight: 700;
    margin-top: 20%;
    margin-bottom: 10%;
    color: rgb(224, 185, 12);

}
h2{

    color: aqua;
}