
body {
background-image: url('https://www.soudfa.com/content/blog-articles/en-076.jpg');
background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;
height: 200px;
width: 400px;

top: 50%;
left: 5%;
right: 10%;
margin-top: -100px;
margin-left: -200px;
color: white;
}
body{
    padding: 0;
    margin: 0;
}
#txt{
    color: rgba(0, 226, 226, 0.712);   
    padding-left: 50%;
    margin-right: 0%;
}
#txt2{
    color: rgba(0, 226, 226, 0.712);
    padding-left: 50px;
    margin-left: 100%;
}
#number{
    margin-left: 50%;
    margin-right: 50px;
}
#password{
    margin-left: 100%;
    

}


#submit{
    background-color: rgba(0, 226, 226, 0.712);
    
    }