body{
    background-image: url('https://www.soudfa.com/content/blog-articles/en-076.jpg');
    background-repeat: repeat;
    background-attachment: fixed;  
    background-size: cover;
    margin: 0;
    padding: 0;
}
section{
    font-size: 20px ;
    font-family: Arial, Helvetica, sans-serif;
    height: 99vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container{
    width: 90vh;
    height: 700px;
    background-color: rgb(255, 255, 255);
    background: 
    linear-gradient(
        dodgerblue ,
        black 40%
        );
    box-shadow: 0 0 18px 0;
    margin: 0 auto;
    border-radius: 20px; 
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;  
}
.box2{
    border-radius: 20px;
    bottom: 20px;
    position: absolute;
    height: 95%;
    width: 95%;
    background: 
    linear-gradient(
        dodgerblue ,
        black 60%
    );
    box-shadow: 0 0 40px 0;
}
.user2{
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 5px;
    position:absolute;
    height: 40px;
    width: 175px;
    background: white;
    top: 20px;
    left: 30px;
}
.comment{
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    height: 70%;
    width: 93%;
    background: white;
    left: 30px;
    top: 70px;
    text-align: start;
    border-radius: 5px;
}
textarea{
    border-radius: 5px;
}
input{
    position: absolute;
    width: 92.2%;
    left: 30px;
    height: 50px;
    bottom: 30px;
    border-radius: 50px;
    text-align:center;
    transition: 500ms ease;
}
input:hover,
input:focus{    
    filter: drop-shadow(0 0 0.5rem dodgerblue);
    outline: none;
    list-style: none;
}

.btn{
    color: white;
    position: absolute;
    width: 60px;
    height: 60px;
    right: 15px;
    bottom: 27px;
    border-radius: 50px;
    text-align:center;
    background:dodgerblue; 
    cursor: pointer;
    transition: 500ms ease;
}
.btn:hover{
    filter: drop-shadow(0 0 1rem dodgerblue);
    transform: scale(1.1);
}