
body { 
    background-image: url('https://www.soudfa.com/content/blog-articles/en-076.jpg');
    background-repeat: repeat;
    background-attachment: fixed;  
    background-size: cover; 
    background-size: 100% auto;
}

/* .rowg-3{
    margin: 0;
    padding: 0;

    padding-top: 15%;
    padding-left: 40%;
    padding-right: 40%;
} */
/* #a1{padding-bottom: 2px;}
#a2{padding-bottom: 2px;}
#a3{padding-bottom: 2px;}
#a4{padding-bottom: 2px;}
#a5{padding-bottom: 2px;}
#a6{padding-bottom: 10px;}
#btn{text-align: center;} */


