
body {
background-image: url('https://www.soudfa.com/content/blog-articles/en-076.jpg');
background-repeat: repeat;
background-attachment: fixed;  
/* background-size: cover; */
background-size: 100% auto;
height: 200px;
width: 400px;

position: fixed;
top: 40%;
left: 40%;
right: 30%;
margin-top: -100px;
margin-left: -100px;
color: white; 

}
/* .mb-3{
    padding-left: 50%;
} */
/*body {
    background-image: url('https://www.soudfa.com/content/blog-articles/en-076.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    height: 200px;
    width: 400px;

    position: fixed;
    top: 80%;
    left: 10%;
    right: 10%;
    margin-top: -100px;
    margin-left: -200px;
}*/



